## Preprocessing data with Numpy

In [5]:
import numpy as np
import pandas as pd

In [4]:
lending_co_data_numeric = np.loadtxt('Lending-Company-Numeric-Data.csv',delimiter=',')

## we don't got any error message , that mean there no missing value(NAN)

In [8]:
data = pd.read_csv('Lending-Company-Numeric-Data.csv')

In [9]:
data.head(2)

   2000  40  365  3121  4241  13621
0  2000  40  365  3061  4171  15041
1  1000  40  365  2160  3280  15340

In [10]:
np.isnan(lending_co_data_numeric)

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [11]:
np.isnan(lending_co_data_numeric).sum()

0

lending_co_data_numeric_nan = np.loadtxt('Lending-Company-Numeric-Data-NAN.csv',delimiter=';')

## we got error message , that mean there is missing value(NAN)

# let's genfromtxt() method

In [13]:
lending_co_data_numeric_nan = np.genfromtxt('Lending-Company-Numeric-Data-NAN.csv',delimiter=';')

In [15]:
np.isnan(lending_co_data_numeric_nan).sum()
# this the total missing values

260